/* Receipt.css */
.receipt {
    padding: 10px;
    width: 80mm;
    max-height: 297mm;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    border: 1px solid #000;
}
.line {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #000;
}

@media print {
    body {
        margin: 0;
    }
    .receipt {
        border: none;
    }
}
